$etu-official-color-blue: #05336e;
$etu-official-color-yellow: #bb8d54;
$etu-official-color-gray: #6d6e71;

/*
  Palette: https://flatuicolors.com/palette/fr
*/
$french-palette: (
  yellow-1: #fad390,
  yellow-2: #f6b93b,
  yellow-3: #fa983a,
  yellow-4: #e58e26,
  red-1: #f8c291,
  red-2: #e55039,
  red-3: #eb2f06,
  red-4: #b71540,
  blue-1: #6a89cc,
  blue-2: #4a69bd,
  blue-3: #1e3799,
  blue-4: #0c2461,
  light-blue-1: #82ccdd,
  light-blue-2: #60a3bc,
  light-blue-3: #3c6382,
  light-blue-4: #0a3d62,
  green-1: #b8e994,
  green-2: #78e08f,
  green-3: #38ada9,
  green-4: #079992,
  gray-1: #d0cccc
);
